.Acont1 {
  /* images/img/h26.webpinfinite _choices */
  background: url("../images/high_quality/i1.png") no-repeat center;
  background-size: cover;
}
.aboutus .cont3 {
  background: url("../images/Brands/n6.webp") no-repeat center;
  background-size: cover;
}
