.image-container {
    position: relative;
}

.desktop-image {
    display: block;
}

.mobile-image {
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }
}
