@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* --text-size: 2rem; */
  --text-second-color: #c9c3c9;
  --text-first-color: #1f0a1d;
  /* --bg-color-hover: #210e24; */
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  box-sizing: border-box;
}
.Home {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #1f0a1d;
}
.cont1 {
  height: 85vh;
}
.Home_page_image {
  background: url("../../assets/images/1.png") no-repeat center;
  background-size: cover;
}
.Brands_page_image {
  background: url("../../assets/images/2.png") no-repeat center;
  background-size: cover;
}
.Partner_page_image {
  background: url("../../assets/images/3.png") no-repeat center;
  background-size: cover;
}
.cont15 {
  background: url("../../assets/images/n-bg-1.webp") no-repeat center;
  background-size: cover;
}
.cont3 {
  background: url("../../assets/images/n-bg-1.webp") no-repeat center;
  background-size: cover;
}
.Cont8 {
  /* background: url("../../assets/images/n4.webp") no-repeat center; */
  background-size: cover;
}
.cont7 {
  background: url("../../assets/images/n6.webp") no-repeat center;
  background-size: cover;
}
.cont10 {
  background: url("../../assets/images/n2.webp") no-repeat center;
  background-size: cover;
}
/* For background image and color */
.bg-image {
  border-radius: 20px !important;
  overflow: hidden;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: contain; */
  padding: 0;
  font-family: "Raleway";
  margin-top: 100px;
}
.bg-image .bg-color {
  background-color: #1f0a1de1;
  width: 100%;
}

/* END background image and color */

/* Text overlay settings */
.text-overlay {
  position: absolute;
  top: 1%; /* Adjust based on where you want the text to appear */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Use a percentage for responsive width */
  max-width: 400px; /* Maximum width to prevent excessive stretching */
  text-align: center;
  color: aliceblue; /* Text color */
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
  padding: 10px; /* Padding around the overlay */
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 10px; /* Optional rounded corners */
}

/* .text-overlay1 {
  padding-top: 80px;
  position: absolute;
  top: 0%;
  text-align: center;
  color: aliceblue;
  background-color: #1f0a1d79;
  font-size: 30px;
} */

/* Text overlay heading settings */
.text-overlay h2 {
  font-size: 1.5em; /* Size for secondary heading */
  margin: 0;
}

/* Text content settings */
.text-content {
  transform: translate(7%, 30%);
  text-align: left;
}

/* Text content heading settings */
.text-content h1 {
  padding: 30px 0;
  font-weight: 700;
  font-size: 2.7rem; /* Base size for heading */
}
.text-content h3 {
  font-weight: 400;
  line-height: 60px;
  font-size: 1.8rem;
}
.text-content p {
  text-align: left;
  font-family: "Raleway", sans;
  font-size: 1.25em; /* Base size for paragraphs */
  letter-spacing: 5px;
  font-weight: 500;
  margin: 5px 0; /* Margin for spacing between paragraphs */
}

/* Highlight class settings */
.highlight {
  color: #ffde59; /* Yellow color for highlights */
}
.highlight2 {
  color: #ffaa00; /* Yellow color for highlights */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .text-overlay h2 {
    font-size: 1.2em; /* Adjust heading size for tablets */
  }

  .text-content h1 {
    font-size: 1.5em; /* Adjust heading size for tablets */
  }

  .text-content p {
    font-size: 0.9em; /* Adjust paragraph size for tablets */
  }
}

@media (max-width: 480px) {
  .text-overlay h2 {
    font-size: 1em; /* Adjust heading size for mobile phones */
  }

  .text-content h1 {
    font-size: 1.2em; /* Adjust heading size for mobile phones */
  }

  .text-content p {
    font-size: 0.8em; /* Adjust paragraph size for mobile phones */
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 26px;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.card-item {
  text-align: center;
  box-sizing: border-box;
}
.card-item .img-container {
  aspect-ratio: 1/1.7;
  width: 210px;
  /* height: 440px; */
}

.card-item p {
  margin-top: 35px;
  font-size: 1.5rem;
}

.card-item2 {
  transition: all 1s;
}
.card-item2 .img-container {
  aspect-ratio: 1/1.8;
  width: 200px;
  /* height: 420px; */
}
.card-item2 p {
  margin-top: 35px;
  font-size: 1.5rem;
}

.card-item2 .btn {
  display: none;
  margin-top: 40px;
}
.card-item2 .btn button {
  padding: 10px;
  width: 78px;
}
.card-item2 .btn button:nth-child(2) {
  margin-left: 10px;
}

.card-item2:hover .btn {
  display: block;
}
.card-item2:hover p {
  display: none;
}

.description p {
  color: #333; /* Darker text color for readability */
  margin: 5px 0; /* Space between paragraphs */
}

.description h4 {
  text-transform: uppercase;
  margin: 0; /* Remove default margin for heading */
}

input:checked + label {
  width: 300px; /* Expand card when selected */
}

input:checked + label .description1,
input:checked + label .description2,
input:checked + label .description3,
input:checked + label .description4,
input:checked + label .description5 {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* input {
  display: none;
   Hide radio buttons
} */
/* 
.text-overlay3 {
  position: relative;
  bottom: 8%;
  left: 2%;
}  */

.text-overlay2 h1 {
  font-size: 1.8em; /* Adjust heading size for smaller screens */
}
.text-overlay3 h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 4.5rem;
  font-weight: 800;
}

.steps-container {
  /* overflow: hidden; */
  /* position: absolute; */
  /* top: 6%; */
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway";
  font-weight: 100;
  /* width: 80%; */
  border-radius: 20px;
}

.step {
  overflow: hidden;
  border-radius: 10px;
}
.step > div {
  position: relative;
  width: 230px;
  height: 360px;
}
.h42 {
  /* height: 100%; */
  width: 100%;
  aspect-ratio: 1/1.6;
  position: absolute;
  left: 0;
  background: #1f0a1dc1;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  border-radius: 10px;
}
.h42 p {
  color: #dbaf75;
  /* text-align: justify; */
  font-size: 1rem;
  padding: 10px 15px;
  line-height: 30px;
  font-weight: 600;
}
.step:hover .h42 {
  transform: translateX(0%);
}

.step img {
  left: 0;
  width: 100%;
  aspect-ratio: 1/1.6;
  border-radius: 10px;
}

.step > p {
  margin-top: 1rem;
  font-size: 1.2em;
  font-weight: 900;
  color: #1f0a1d;
  transition: all 0.5s ease;
}

/* @media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 80%;
  }
} */

/* .cont8 {
  position: relative;
  background: url("./image7.webp");
} */

.layout-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header-title {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.5em;
  margin-bottom: 40px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  /* max-width: 80%; */
  width: 95%;
  position: absolute;
  top: 1%;
  height: 37%;
}

.box-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  left: 1%;
  top: 48%;
  height: 35%;
}
.box-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  left: 34%;
  top: 48%;
  height: 35%;
}
.box-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  width: 29%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  left: 67%;
  top: 48%;
  height: 35%;
}

.box-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }

  .box-item {
    width: 100%;
  }
}

.page8 {
  font-size: 4.5rem;
  font-weight: 800;
  text-align: left;
}

.text-content10 h1 {
  position: absolute;
  bottom: 14%;
  left: 16%;
  font-size: 4.5rem;
  font-weight: 800;
}
.a1card {
  border-radius: 10px;
  background: #1f0a1dd0;
  color: white;
  padding: 50px 38px;
  /* width: 28%; */
  text-align: center;
  font-size: 1.5em;
  font-family: "Raleway";
}
.a1card h4 {
  font-size: 34px;
  text-align: center;
  line-height: 100px;
  color: #ffde59;
}
/* .a1card button {
  outline: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  padding:5px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffde59;
} */
.a1card p {
  line-height: 50px;
  min-height: 320px;
  font-size: 22px;
}

.inside-Left h1 {
  font-size: 39px;
  padding: 50px 0 30px;
  line-height: 45px;
}
.inside-Left h3 {
  line-height: 50px;
  font-weight: 200;
}
.inside-Left h4 {
  line-height: 100px;
}
.brand-subtext {
  cursor: pointer;
}
.brand-subtext .active {
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 31.46px;
  text-align: center;
  color: #ffde59;
}
.page10 {
  position: absolute;
  font-size: 50px;
  top: 13%;
  text-align: left;
  left: 72px;
}
.b1card {
  background: #fffeff;
  /* color: black; */
  opacity: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 18%;
  margin: 10px 0;
  height: 47%;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  max-width: 1200px;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.b2card {
  background: #fffeff;
  /* color: black; */
  opacity: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 18%;
  margin: 10px 0;
  height: 47%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  max-width: 1200px;
  font-size: 1.5em;
  margin-bottom: 40px;
}
.b3card {
  background: #fffeff;
  /* color: black; */
  opacity: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 18%;
  margin: 10px 0;
  height: 47%;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  max-width: 1200px;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.page11 {
  position: absolute;
  font-size: 50px;
  top: 8%;
  text-align: left;
  left: 72px;
}
.c1card {
  background: #fffeff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 10px 0;
  height: 5%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* max-width: 1200px; */
  font-size: 1.5em;
  margin-bottom: 40px;
}
.c2card {
  background: #fffeff;
  /* color: black; */
  /* opacity: 80%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 10px 0;
  height: 5%;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* max-width: 1200px; */
  font-size: 1.5em;
  margin-bottom: 40px;
}
.c3card {
  background: #fffeff;
  /* color: black; */
  /* opacity: 80%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 10px 0;
  height: 5%;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* max-width: 1200px; */
  font-size: 1.5em;
  margin-bottom: 40px;
}
.c4card {
  background: #fffeff;
  /* color: black; */
  /* opacity: 80%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 10px 0;
  height: 5%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* max-width: 1200px; */
  font-size: 1.5em;
  margin-bottom: 40px;
}
.c5card {
  background: #fffeff;
  /* color: black; */
  /* opacity: 80%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 10px 0;
  height: 5%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  /* max-width: 1200px; */
  font-size: 1.5em;
  margin-bottom: 40px;
}

.text-content1 {
  position: absolute;
  bottom: 10%;
  left: 15%;
  width: 17%;
  text-align: center;
  background-color: rgba(31, 10, 29, 0.7);
  color: white;
  box-sizing: border-box;
  height: 40%;
  border-radius: 10px;
}
.text-content1 p {
  font-size: 22px;
  font-weight: 300;
}
.text-content2 p {
  font-size: 22px;
  font-weight: 300;
}

.text-content2 {
  border-radius: 10px;
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 17%;
  text-align: center;
  background-color: rgba(31, 10, 29, 0.5);
  color: white;
  box-sizing: border-box;
  height: 40%;
}

#Theme {
  width: 45%;
}
#Theme .theme-img:-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
#Theme .theme-img {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#Theme .theme-img {
  height: 550px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#Theme .theme-img img {
  width: 220px;
  height: 260px;
}
#Banner .img {
  height: 550px;
  overflow: auto;
}
#Banner .banner {
  aspect-ratio: 3/1;
}

#Banner .img:-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
#Banner .img {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#Custmization .outer {
  /* background: #C53E40; */
  padding: 5px;
  width: 25%;
}
#Custmization .text {
  height: 300px;
  background: #eee;
  border-radius: 10px;
  padding: 25px 25px;
}
#Custmization .text .switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 22px;
}

#Custmization .text .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#Custmization .text .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c1c1;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 34px;
}

#Custmization .text .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#Custmization .text input:checked + .slider {
  background-color: #000;
}

#Custmization .text input:focus + .slider {
  box-shadow: 0 0 1px #eee;
}

#Custmization .text input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.cont13 {
  /* background: url("./image4.webp"); */
  background-color: #1f0a1d;
}
.cont12 {
  /* background: url("./image4.webp"); */
  background-color: #1f0a1d;
}
.plans .price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  padding: 0px;
}
.single-pricing:hover {
  box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transform: translate(0, -10px);
  transition: all 0.3s ease-in-out;
}
.single-pricing ul {
  padding-left: 0;
}
.single-pricing ul li {
  list-style: none;
}
.single-pricing a {
  background: #161c2d;
  border: 2px solid #161c2d;
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 35px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  width: 219px;
  text-decoration: none;
}
.single-pricing a:hover {
  background: #ffaa17;
  color: #fff;
  border: 2px solid #ffaa17;
}
.redbtn a {
  background: #f74d4d;
  border: 2px solid #f74d4d;
}

.red_menu {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  letter-spacing: -0.5px;
  text-align: center;
  background: #f74d4d;
  color: #ffffff;
  width: 174px;
  height: 50px;
  gap: 0px;
  opacity: 0px;
  padding: 13px;
  border-radius: 13px;
}

.main-cont-L {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.new-item {
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 125px;
  cursor: pointer;
}
.new-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}
.new-item:hover img {
  transform: scale(1.05);
  /* box-shadow: 0px 0px 15px rgba(139, 95, 61, 1); */
}
.banner1-container {
  display: flex;
  flex-direction: column; /* Stack banner images vertically */
  gap: 10px; /* Space between banner images */
}

.banner1 {
  /* width: 100%; Make sure images fit their containers */
  height: 300px; /* Set a fixed height for banners */
  object-fit: cover; /* Maintain aspect ratio without distortion */
}

.new1 {
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.new-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
}
.new-item1 .img-container {
  aspect-ratio: 2/1;
  width: 450px;
  /* height: 325px; */
}
.img-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}
.hover-image {
  opacity: 0;
}
.img-container:hover .hover-image {
  opacity: 1;
}
.img-container:hover .image:not(.hover-image) {
  opacity: 0;
}

.new-item1 img {
  width: 100%; /* Make sure images fit their containers */
  height: auto; /* Maintain aspect ratio */
  /* max-width: 150px; Set a max-width for images */
  object-fit: cover; /* Ensure images cover their area without distortion */
  border-radius: 10px;
}

.new-item1 h2 {
  /* margin-top: 12px; */
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* color: white;  */
  /* text-align: center; */
}
.about-text p {
  font-size: 25px;
  line-height: 60px;
}

@media (max-width: 768px) {
  .cont1 {
    height: 95vh;
  }
  .new-item1 .img-container {
    width: 315px;
    height: 195px;
  }
  .card-item .img-container {
    width: 150px;
    height: 240px;
  }
  .card-item p {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .new-item {
    aspect-ratio: 1/1;
    width: 100px;
    cursor: pointer;
  }
  .card-item2 .img-container {
    aspect-ratio: 1/2;
    width: 150px;
    height: 240px;
  }
  .card-item2 p {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .a1card p {
    color: white;
    line-height: 40px;
    min-height: 170px;
    font-size: 18px;
  }
  .card-item2:hover .btn {
    display: none;
  }
  .card-item2:hover p {
    display: block;
  }
  .step {
  }
  .step > div {
    margin: 0 10%;
    /* width: 350px; */
    width: 80%;
    height: 375px;
  }
  .step img {
    left: 0;
    width: 100%;
    /* aspect-ratio: 1/1.; */
    height: 100%;
    border-radius: 10px;
  }

  .h42 {
    visibility: hidden;
  }
  .about-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .text-overlay3 h1 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 2.5rem;
    color: white;
  }
  .cont5 img {
    aspect-ratio: 1/1;
    height: 40vh;
  }
  .cont9 img {
    aspect-ratio: 1/1;
    height: 40vh;
  }
  .text-content10 h1 {
    bottom: 10%;
    left: 10%;
    font-size: 2.5rem;
  }
  .brand-subtext {
    font-size: 10;
  }
  .brand-subtext .active {
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 31.46px;
    text-align: center;
    color: #ffde59;
  }
  .inside-Left h3 {
    line-height: 30px;
    font-weight: 200;
  }
}
